<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <title>User Registration</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        form {
            max-width: 400px;
            margin: 0 auto;
        }
        label {
            display: block;
            margin-bottom: 8px;
        }
        input, textarea {
            width: 100%;
            padding: 8px;
            margin-bottom: 16px;
            box-sizing: border-box;
        }
    </style>
</head>
<body>
<div class="container mt-5">
    <h2 class="text-center"> User LogIn Form </h2>
    <form class="col-6 card p-3 shadow-lg mx-auto" id="userForm" action="{% url 'login' %}" method="post">
        {% csrf_token %}
        {% if message %}
      <h2>{{message}}</h2>
    <a href="{% url 'login' %}">Try Again</a>
    {% else %}

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>


        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>

        <input class="btn btn-success" type="submit" value="Submit">
    </form>
{% endif %}
    </div>
</body>
</html>